language: java

jdk:
- oraclejdk8

after_success:
- ".buildscript/deploy_snapshot.sh"

env:
  global:
  - secure: TtZwE21Fetw9NSAiHnlMCvCfvpbu+k16Te0tKFXpf9+SQzD1z/+l+FgB5peGYfwjRLctC1uR9Hx1iF1FzkNGRoKewUBZxL/MXSSR3jltQldnQ4A2FI14iDi0mmISw1nXjd0QeqxMWUE8gyw43qhxZrmtgsC6EUNS0rg/O0XbCbk=
  - secure: WJx+lq+TqOwtvnb4KQMuQLpahsGsdP0jJWaqXr7YYljhi7oLpZ6pg5k9ObsIYX0oBk5HKmb5C768zKsm20b0AgEhLaZyLk/+RBfkji76BtvB+WEEdx2qlcJHS12JxblmrfszVcPdYdXtLQaF8x9Bd6+3nJcRCKC/Y6xmF8ByraA=
  - secure: I/Uy646pqJdsW6Ei3JsuRk5IU5SvNprBalq5UHC/28rPZ5iBXb3fyZMxk28W7luQaPimkSVpyJn5RFzPumbzDE6+Gl2okb7BH494+V9o8idnGwPsslCVkgs8DoFTMK0DrgbSRbdqN2HlpeWRNnhnHLvdwlQi+KZEhCxGGSLNiKY=

branches:
  except:
  - gh-pages
