<!doctype HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> $nameAndVersion - Report </title>
    $allCss
<style>
    body {
        margin-top: 20px;
    }

    ul#category-nav {
        margin: 30px 0;
    }

    .well {
        background: darkgreen;
        color: white;
        text-align: center;
    }

    div.panel-heading h4 {
        line-height: 1.5;
    }

    div.panel-body pre {
        margin-top: 15px;
    }
</style>
    $allJs
<script>
$(document).ready(function() {
    var hash = window.location.hash;
    hash && $('ul.nav a[href="' + hash + '"]').tab('show');

    $(".nav-tabs a").click(function (e) {
        $(this).tab('show');
        var scrollmem = $('body').scrollTop();
        window.location.hash = this.hash;
        $("html,body").scrollTop(scrollmem);
    });

    $("div#summary table").tablesorter();
    $('pre > code').parent().addClass("prettyprint");
    prettyPrint();
});
</script>
</head>
<body>
<div class="container">
    <div class="well">
        <h2> $nameAndVersion - Lint Report </h2>
        <h3> $date </h3>
    </div>

    <ul class="nav nav-tabs" role="tablist" id="category-nav">
      <li class="active"><a href="#all" data-target="$navDataTargets" role="tab" data-toggle="tab">All</a></li>
      <li><a href="#summary" role="tab" data-toggle="tab">Summary</a></li>
        #foreach($violatedCategory in $categoryList)
            #set($categoryName = $violatedCategory.toString())
            #set($categoryHrefName = $TemplateHelper.getHrefSafeName($categoryName))
            <li><a href="#$categoryHrefName" role="tab" data-toggle="tab">$categoryName</a></li>
        #end
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="summary">
            <div class="table" >
                <table class="table table-condensed table-striped table-bordered tablesorter">
                    <thead>
                    <tr>
                        <th> Violation Name</th>
                        <th> Category</th>
                        <th> Number of Violations</th>
                    </tr>
                    </thead>
                    <tbody>
                    #foreach($summaryMapEntry in $summaryMap.entrySet())
                        <tr>
                            <td> $summaryMapEntry.key.name </td>
                            <td> $summaryMapEntry.key.category.toString() </td>
                            <td> $summaryMapEntry.value </td>
                        </tr>
                    #end
                    </tbody>
                </table>
            </div>
            <div class="alert alert-danger"> $errorSummaryString </div>
        </div>

        #foreach($violatedCategory in $categoryList)
            #set($categoryName = $violatedCategory.toString())
            #set($categoryHrefName = $TemplateHelper.getHrefSafeName($categoryName))
            <div class="tab-pane active" id="$categoryHrefName">
            <h2> $violatedCategory.toString() </h2>
            #foreach($lintError in $lintErrorList)
                #if ($lintError.violatedRule.category.toString().equals($violatedCategory.toString()))
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>
                                <span class="label label-$TemplateHelper.getLabel($lintError.severity)">$lintError.severity</span>
                                #set($nameHrefSafe = $TemplateHelper.getHrefSafeName($lintError.violatedRule.name))
                                <a href="#$nameHrefSafe">$lintError.violatedRule.name</a> violated in <a href="$lintError.file">$TemplateHelper.relativize($lintError.file)</a>
                                #if ($lintError.lineNumber > 0)
                                    on line $lintError.lineNumber
                                #end
                            </h4>
                        </div>
                        <div class="panel-body">
                            $TemplateHelper.htmlEscape($lintError.message)
                            #if ($lintError.exception)
                                <hr>
                                <h5> Stacktrace </h5>
                                <pre>$TemplateHelper.sanitizeStackTrace($lintError.exception)</pre>
                            #end
                        </div>
                    </div>
                #end
            #end
            </div>
        #end

        <hr/>

        <h2> Rule Descriptions </h2>

        #foreach($lintRule in $lintRuleSet)
            #set($nameHrefSafe = $TemplateHelper.getHrefSafeName($lintRule.name))
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div>
                        <span id="$nameHrefSafe" class="panel-title"> $lintRule.name </span>
                        <span class="panel-title pull-right"> $lintRule.category.toString() </span>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr> <th> Rule Name </th> <td> $lintRule.name </td> </tr>
                        <tr> <th> Summary </th> <td> $lintRule.summary </td> </tr>
                        <tr> <th> Severity </th> <td> $lintRule.severity </td> </tr>
                        <tr> <th> Category </th> <td> $lintRule.category.toString() </td> </tr>
                        #set($enabled = "#if($lintRule.isEnabled())Yes#{else}No#end")
                        <tr> <th> Enabled by default? </th> <td> $enabled </tr>
                    </table>
                    $TemplateHelper.markdownToHtml($lintRule.detailedDescription)
                </div>
            </div>
        #end
    </div>
</div>
</body>
</html>